<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div>
            <form action="/fruit" method="POST">
                <fieldset>
                    <legend>Create a new Fruit</legend>
                    <label>Name: <input type="text" name="name" placeholder="Enter fruit name"/></label>
                    <label>Color: <input type="text" name="color" placeholder="Enter fruit color"/></label>
                    <label>Ready to eat: <input type="checkbox" name="readyToEat" /></label>
                    <input type="submit" value="create new fruit"/>
                </fieldset>

            </form>
            <h2><a href="/fruit">BACK to fruits page</a></h2>

        </div>            
    </main>
</body>
</html>